.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30PX;
    justify-content: center;

            .card {
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                display: flex;

                max-width: 500px;
                width: 100%;

                .card_image {
                    width: 70px;
                    height: 70px;
                    overflow: hidden;
                    border-radius: 50%;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .name_eng {}

                .price {
                    margin-bottom: 40px;
                }
            }
        }